{% extends "page/page_base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block content %}

    <ul class="breadcrumbs">
        <li>{% trans 'You are here:' %}</li>
        <li>
            <a href="{% url lfs_shop_view %}">
                {% trans 'Home' %}</a>        
            <img src="{{MEDIA_URL}}lfs/icons/resultset_next.png" 
                 alt=">" />
        </li>
        <a href="{{page.get_absolute_url}}">
            {{page.title}}</a>
    </ul>
    
    {{page.title}}
    <div>
        {{page.body|safe}}
    </div>
    
    {% if page.file %}
        <a href="{{page.file.url}}">
            Download
        </a>
    {% endif %}
{% endblock %}