{% load i18n %}
{% load lfs_tags %}
<table class="lfs-default">
    <tr>
        <th colspan="2">
            {% trans 'Product' %}
        </th>
        <th class="number">
            {% trans 'Quantity' %}
        </th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for cart_item in cart_items %}
        <tr>
            <td>
                <img src="{{cart_item.product.get_image.url_60x60}}"
                     alt="{{cart_item.product.name}}"/>
            </td>
            <td>                
                {{cart_item.product.name}}
                {% for option in cart_item.product.get_options %}
                    <div>
                        {{option.property.name}} : {{option.option.name}}
                    </div>
                {% endfor %}
            </td>
            <td class="number">
                {{cart_item.amount|quantity}}
            </td>                
            <td class="number">
                {{cart_item.product.get_price|currency}}
            </td>
            <td class="number">
                {{cart_item.get_price|currency}}
            </td>
        </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="3"></td>
        <td colspan="2" class="number total">
            {% trans 'Total' %}: {{total|currency}}
        </td>
    </tr>
</table>
