{% load i18n %} 
{% load lfs_tags %}

{% if cart.items %}
    <form id="cart-form"
          action="{% url lfs.cart.views.refresh_cart %}">
        
        <select class="cart-country"
                name="country">
            {% for country in countries %}
                <option {% ifequal country.id selected_country.id  %}selected="selected"{% endifequal %}
                        value="{{country.id}}">
                    {{country.name}}
                </option>
            {% endfor %}
        </select>
        <select class="cart-shipping-method"
                name="shipping_method">
            {% for shipping_method in shipping_methods %}
                <option {% ifequal shipping_method.id selected_shipping_method.id  %}selected="selected"{% endifequal %}
                        value="{{shipping_method.id}}">
                    {{shipping_method.name}}
                </option>
            {% endfor %}
        </select>

        <select class="cart-payment-method"
                name="payment_method">
            {% for payment_method in payment_methods %}
                <option {% ifequal payment_method.id selected_payment_method.id  %}selected="selected"{% endifequal %}
                        value="{{payment_method.id}}">
                    {{payment_method.name}}
                </option>
            {% endfor %}
        </select>

        <table class="lfs-default cart">
            <tr>
                <th colspan="2">
                    {% trans 'Product' %}
                </th>
                <th class="number">
                    {% trans 'Amount' %}
                </th>
                <th class="number">
                    {% trans 'Price' %}
                </th>
                <th class="number">
                    {% trans 'Total' %}
                </th>
            </tr>
            {% for cart_item in cart.items %}
                <tr>
                    <td>
                        <a href="{{cart_item.product.get_absolute_url}}">
                            <img src="{{cart_item.product.get_image.url_60x60}}"
                                 alt="{{cart_item.product.name}}"/>
                        </a>
                    </td>
                    <td>
                        {{cart_item.product.name}}
                        {% for option in cart_item.product.get_options %}
                            <div>
                                {{option.property.name}} : {{option.option.name}}
                            </div>
                        {% endfor %}
                    </td>
                    <td class="number">
                        <input class="cart-amount"
                               type="text"
                               name="amount-cart-item_{{cart_item.id}}"
                               size="2"
                               value="{{cart_item.amount}}" />
                    </td>                
                    <td class="number">
                        {{cart_item.get_price|currency}}
                    </td>
                    <td class="number">
                        {{cart_item.get_price|currency}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <input id="cart-item_{{cart_item.id}}"
                               class="delete-cart-item"
                               type="button"
                               value="{% trans 'Delete Article' %}" />
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td>
                    {% trans 'Shipping' %} ({{selected_shipping_method.name}})
                </td>
                <td class="number">
                    1
                </td>
                <td class="number">
                    {{shipping_price|currency}}
                </td>
                <td class="number">
                    {{shipping_price|currency}}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    {% trans 'Payment' %} ({{selected_payment_method.name}})
                </td>
                <td class="number">
                    1
                </td>
                <td class="number">
                    {{payment_price|currency}}
                </td>
                <td class="number">
                    {{payment_price|currency}}
                </td>
            </tr>

            <tr>
                <td colspan="5"
                    class="total number">
                    <span class="total-label">{% trans 'Total' %}:</span>
                    {{cart_price|currency}}
                </td>
            </tr>
            <tr>
                <td colspan="5"
                    class="tax number">
                    <span class="total-label">{% trans 'Inclusive Taxes' %}:</span>
                    {{cart_tax|currency}}
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4"
                    <p>
                        {% trans 'Your total delivery will last' %} {{max_delivery_time}}
                    </p>                    
                </td>
            </tr>
        </table>
    </form>    
    <div id="cart-buttons">
        <a class="checkout-button" href="{% url lfs.checkout.views.checkout %}">{% trans 'Checkout' %}</a>
    </div>
    
    


{% else %}
    <p>{% trans 'Cart is empty' %}</p>
{% endif %}
