{% load i18n %}
{% load lfs_marketing_tags %}

{% if topseller %}
    <div class="topseller-portlet portlet">

        <div class="portlet-header">
            {% trans 'Topseller' %}    
        </div>

        {% for product in topseller %}
            <div class="portlet-body">
                <a href="{{product.get_absolute_url}}">
                    {{product.name}}                    
                </a>
            </div>
        {% endfor %}
        <div class="portlet-footer">
        </div>        
    </div>    
    
{% endif %}
