{% extends "base.html" %}
{% load i18n %}

{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block content %}
    <h1>
        {% trans 'Authenticate' %}
    </h1>
    <form action="{% url lfs_login %}"
          method="post">
        <h2>{% trans 'Login' %}</h2>
        
        {% if login_form_errors %}
            <p>{{ login_form_errors }}</p>
        {% endif %}
        
        <div>
            <div class="field">
                <div class="label">
                    {{ login_form.username.label_tag }}:
                </div>
        
                {% if login_form.username.errors %}
                    <div class="error">
                        {{ login_form.username }}
                        {{ login_form.username.errors }}
                    </div>
                {% else %}
                    <div>
                        {{ login_form.username }}
                    </div>
                {% endif %}
            </div>

            <div class="field">
                <div class="label">
                    {{ login_form.password.label_tag }}:
                </div>
        
                {% if login_form.password.errors %}
                    <div class="error">
                        {{ login_form.password }}
                        {{ login_form.password.errors }}
                    </div>
                {% else %}
                    <div>
                        {{ login_form.password }}
                    </div>
                {% endif %}
            </div>
            
            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />

            <input type="hidden"
                   name="action"
                   value="login" />
                    
            <input type="submit"
                   value="{% trans 'Login' %}" />
            <a href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
        </div>
        
    </form>
    <form action="{% url lfs_login %}"
          method="post">
        <h2>{% trans 'Register' %}</h2>
        <div>
            {{register_form.as_p}}

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />
            
            <input type="hidden"
                   name="action"
                   value="register" />
            
            <input type="submit"
                   value="{% trans 'Register' %}" />
        </div>
    </form>
{% endblock %}
