{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block left_slot %}
    <div id="reviews">
        {% for review in reviews %}
            <div>
                <a class="selectable {% ifequal current_review.id review.id %}selected{% endifequal %}" 
                   href="{% url lfs_manage_review review.id %}">
                    {{review.name}} ({{review.get_score_display}})
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block content %}
    
    <div class="site-actions">
        <span class="label">
            {{current_review.name}}
        </span>
        | 
        <a class="confirmation-link" 
           data="{% trans 'Delete?' %}"
           href="{% url lfs_delete_review current_review.id %}">
            {% trans 'Delete' %}</a>
        | 
        <a href="{% url lfs_product current_review.content.slug %}"
           target="_blank">
            {% trans 'View product' %}
        </a>
    </div>    
    
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#review">{% trans 'Review' %}</a></li>
        </ul>

        <div id="review">
            <form action="{% url lfs_manage_review current_review.id %}"
                  method="post">
                <table>
                    {% include "manage/lfs_form.html" %}
                </table>
                <input type="submit"
                       value="{% trans 'Save review' %}" />
            </form>
        </div>
    </div>
    
{% endblock %}