/* Layout */
body {
    background-color:#eee;
}

table.accessories {
    margin:20px 0;
}

table.order,
table.cart {
    width: 100%;    
}

table.main {
    width: 100%;
    margin-top:15px;
}

table.main td {
    vertical-align: top;
}

td.left-slot {
  padding: 0 6px;
  width: 160px;
}

td.content {
    padding: 0 6px;
}

td.right-slot {
  padding: 0 6px;
  width: 160px;
}

#wrapper {
    background-color: white;
    padding: 4px;
    width: 980px;  
    position: relative; 
    left: 50%; 
    margin-left: -490px; 
}

img.icon-padding {
    position:relative; top:3px;
}

/* General */
a:active {
    color: black;
}

img {
    border: none;
}

.odd {
    background-color: #eee;
}

#spinner {
    z-index: 2000;
    text-align: center;
    vertical-align: center;
    height: 100%;
    width: 100%;
    position: absolute; top:0;
    display:none;
}

.label {
    font-weight: bold;
}

h1 {
    padding:0;
    margin:0;
}

table.lfs-default {
    width: 100%;
    border-collapse: collapse;
}

/* Order */
table.order-general {
    font-size: 90%;
}

th, td {
    text-align:left
}

tr.total {
    border-top: 1px solid black;
}

.number-with-padding {
    text-align:right;
    padding-right: 20px;
}

.right,
.number {
    text-align:right;
}

.total {
    font-weight: bold;
}

.total-label {
    padding-right:10px;
}

.tax {
    font-size: 90%;
    color: #555;
}

/* Product */
.product-images {
    margin-top:5px;
}

.standard-price {
    text-decoration: line-through;
}

/* Buttons */
.lfs-buttons,
#cart-buttons,
#added-to-cart-buttons {
    padding:10px 0;
}

.send-order,
.cart-button,
.edit-cart-button,
.checkout-button,
.shopping-button {
    text-decoration:none;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;    
}

.send-order:hover,
.cart-button:hover,
.checkout-button:hover,
.shopping-button:hover {
    background-color: #eee;
}

.not-deliverable {
    padding: 8px;
    border: 1px solid black;
    background-color: red;
}

/* Properties */
.property-options {
    padding-left: 10px;
}

/* Search */
#search-form {
    display:inline;
}

#search-results-table {
    width:50%;
    border-collapse: collapse;
}

#search-results-table td {
    vertical-align: top;
}

#livesearch-results-table {
    width:100%;
    border-collapse: collapse;    
}

#livesearch-results-table td {
    vertical-align: top;    
}

#livesearch-results-table td.image {
    width:1%;    
    padding-right:8px;
}

#livesearch-results-table td.all-results {
    text-align:right;
}

#livesearch-result {
    position: absolute;
    display:none;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    width:400px;
    padding: 5px;
}

/* Checkout */
.checkout-form td {
    vertical-align: top;
}

/* Forms */
.field {
    margin-bottom:10px;
}

.field .error input {
    border-color: red;
}

.field li {
    display: inline;    
    color: red;
}

.field ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

/* Portlets */
.portlet a:visited,
.portlet a {
    color: black;
}

.portlet ul {
    list-style-type: none;
}

.portlet ul.root {
    padding: 0;
    margin: 0;
}

.portlet {
    margin-bottom:15px;
}

.portlet li {
    font-weight: normal;
}

.portlet li.current-item {
    font-weight: bold;
}

.categories-portlet ul {
    padding:0;
}

.level-0 ul {
    background-color: #eee;
}

.categories-portlet li {
    display: block;
}

.categories-portlet a {
    padding-left:8px;
    text-decoration: none;
    display: block;
}

.categories-portlet a:hover,
.categories-portlet a.current {
    background-color: #aaa;    
}

.categories-portlet .level-1 a {
    padding-left:20px;
}

.categories-portlet .level-1 a.current {
    background-color: #eee;
    font-weight:bold;
}

.categories-portlet .level-2 a {
    padding-left: 40px;
}

.categories-portlet a.level-1.current,
.categories-portlet a.level-2.current {
    font-weight: bold;
}

/* Breadcrumbs */
ul.breadcrumbs {
    list-style-type: none;
    padding: 0 0 10px 0;
    margin:0;
}

ul.breadcrumbs li {
    display: inline;
}

ul.breadcrumbs img {
    position: relative; top: 3px;
}

/* Rating */
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating {
    background: url(..img/star.gif) left -1000px repeat-x;
}

.star-rating {
    position:relative;
    height:25px;
    overflow:hidden;
    list-style:none;
    margin:0 !important;
    padding:0 !important;
    background-position: left top;
}

.star-rating li {
    display: inline;
}
.star-rating a, 
.star-rating .current-rating {
    position:absolute;
    top:0;
    left:0;
    text-indent:-1000em;
    height:25px;
    line-height:25px;
    outline:none;
    overflow:hidden;
    border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
    background-position: left bottom;
}

.star-rating .current-rating {
    z-index:1;
    background-position: left center;
}

/* smaller star */
.small-star {
    width:50px;
    height:10px;
}
.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-rating {
    background-image: url(../img/star_small.gif);
    line-height: 10px;
    height: 10px;
}
