{% load i18n %}
{% load lfs_tags %}
<h1>{% trans 'Reviews' %}</h1>

{% for review in reviews %}
    <div style="padding-top:10px">

        <ul class="star-rating small-star inline-rating">
            <li class="current-rating"
                style="width:{{review.score|multiply:10}}px">
                Currently 3/5 Stars
            </li>
        </ul>
        
        {% if review.email %}                    
            <a href="mailto:{{review.email}}">
                 {{review.name}},
            </a>
        {% else %}
            {{review.name}},
        {% endif %}
         {{review.creation_date|date:"d. F Y"}}
    </div>
    
    <div>        
        {{review.comment|linebreaks}}
    </div>    
{% endfor %}
{% if has_rated %}
    <div>
        {% trans 'You have already rated' %}
    </div>
{% else %}
    <div>
        <a href='{% url reviews_add content_type_id content_id %}'
           target="_blank">
            {% trans 'Add review' %}
        </a>
    </div>
{% endif %}
