{% load i18n lfs_tags %}
<h2>{% trans 'Your cart' %}</h2>
<table class="cart">
    <tr>
        <th colspan="2">
            {% trans 'Product' %}
        </th>
        <th class="number">
            {% trans 'Amount' %}
        </th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for cart_item in cart.items %}
        <tr>
            <td>
                <a href="{{cart_item.product.get_absolute_url}}">
                    <img src="{{cart_item.product.get_image.url_60x60}}"
                         alt="{{cart_item.product.name}}"/>
                </a>
            </td>
            <td>
                {{cart_item.product.name}}
                {% for option in cart_item.product.get_options %}
                    {% if option.property.display_on_product %}                                                    
                        <div>
                            {{option.property.name}} : {{option.value|option_name}} {{option.property.unit|safe}}
                        </div>
                    {% endif %}
                {% endfor %}
            </td>
            <td class="number">
                {{cart_item.amount}}
            </td>                
            <td class="number">
                {{cart_item.get_price|currency}}
            </td>
            <td class="number">
                {{cart_item.get_price|currency}}
            </td>
        </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td>
            {% trans 'Shipping' %} ({{selected_shipping_method.name}})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {{shipping_price|currency}}
        </td>
        <td class="number">
            {{shipping_price|currency}}
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            {% trans 'Payment' %} ({{selected_payment_method.name}})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {{payment_price|currency}}
        </td>
        <td class="number">
            {{payment_price|currency}}
        </td>
    </tr>

    <tr>
        <td colspan="5"
            class="total number">
            <span class="total-label">{% trans 'Total' %}:</span>
            {{cart_price|currency}}
        </td>
    </tr>
    <tr>
        <td colspan="5"
            class="tax number">
            <span class="total-label">{% trans 'Inclusive Taxes' %}:</span>
            {{cart_tax|currency}}
        </td>
    </tr>
</table>
