{% extends "base.html" %}
{% load i18n %}

{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block content %}
    <h1>
        {% trans 'Authenticate' %}
    </h1>
    <form action="{% url lfs_checkout_login %}"
          method="post">
        <h2>{% trans 'Login' %}</h2>
        <div>
            {{login_form.as_p}}

            <input type="hidden"
                   name="action"
                   value="login" />
            
            <input type="hidden"
                   name="next"
                   value="{% url lfs_checkout %}" />
            
            <input type="submit"
                   value="{% trans 'Login' %}" />
            <a href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
        </div>
        
    </form>
    <form action="{% url lfs_checkout_login %}"
          method="post">
        <h2>{% trans 'Register' %}</h2>
        <div>
            {{register_form.as_p}}

            <input type="hidden"
                   name="action"
                   value="register" />

            <input type="hidden"
                   name="next"
                   value="{% url lfs_checkout %}" />

            <input type="submit"
                   value="{% trans 'Register' %}" />
        </div>
    </form>
    
    {% if anonymous_checkout %}
        <h2>{% trans 'Checkout without registration' %}</h2>
        <a href="{% url lfs_checkout %}">Check out</a>        
    {% endif %}
{% endblock %}
