{% load i18n %}

<h2>{% trans 'Images' %}</h2>

{% if product.get_images %}
    <form id="product-images-update-form"
          action="{% url lfs_manage_update_images product.id %}"
          method="post">
        
        {% if product.is_variant %}
            <input type="checkbox" 
                   name="active_images" 
                   {% if product.active_images %}checked="checked"{% endif %} />
                   
            <label for="active_images">
                {% trans 'Active images' %}
            </label>

        {% endif %}
        
        <table class="lfs-manage-table">
            <tr>
                <th>
                    <input type="checkbox" 
                           class="delete-all" />
                </th>
                <th>
                    {% trans 'Image' %}
                </th>
                <th>
                    {% trans 'Title' %}
                </th>
                <th class="number">
                    {% trans 'Position' %}
                </th>
            </tr>
            {% for image in product.images.all %}
                <tr>
                    <td>
                        <input type="checkbox"
                               class="delete"
                               name="delete-{{image.id}}"
                               style="float:left" />                
                    </td>
                    <td>
                        <img src="{{image.image.url_60x60}}" 
                             alt="{{image.title}}" 
                             title="{{image_title}}"
                             style="float:left"/>
                
                    </td>
                    <td>
                        <input type="text" name="title-{{image.id}}" value="{{image.title}}" />                
                    </td>
                    <td class="number">
                        <input type="text" name="position-{{image.id}}" value="{{image.position}}" size="3" />
                    </td>
                </tr>
            {% endfor %}    
        </table>
        <div class="manage-form-buttons">
            <input class="product-images-update-button"
                   type="submit" name="delete" value="{% trans 'Delete' %}" />
            <input class="product-images-update-button"
                   type="submit" name="update" value="{% trans 'Update' %}" />
        </div>
    </form>    
{% else %}
    <span>{% trans 'There are no images' %}</span>
{% endif %}

<h3>{% trans 'Add images' %}</h3>

<form id="product-images-form"
      action="{% url lfs_manage_add_image product.id %}"
      method="post"
      enctype="multipart/form-data">
    
    <div>
        <input type="file"
               class="upload-file" 
               name="file_1" />
    </div>
    
    <input id="product-images-save-button"
           type="submit" 
           value="{% trans 'Save images' %}"/>
</form>