{% load i18n %}

<div class="navigation-pages">
    
    {% if page.has_previous %}
        <a class="selectable-products-page-link"
           href="{% url lfs_manage_selectable_products_inline %}?page=1">
            <img src="{{MEDIA_URL}}lfs/icons/resultset_first.png" 
                 alt="{% trans 'First' %}"
                 title="{% trans 'First' %}" />           
        </a>
        <a class="selectable-products-page-link"
           href="{% url lfs_manage_selectable_products_inline %}?page={{page.previous_page_number}}">
            <img src="{{MEDIA_URL}}lfs/icons/resultset_previous.png" 
                 alt="{% trans 'Previous' %}"
                 title="{% trans 'Previous' %}" />                                  
        </a>
    {% else %}
        <span>
            <img src="{{MEDIA_URL}}lfs/icons/resultset_first.png" 
                 alt="{% trans 'First' %}"
                 title="{% trans 'First' %}" />
        </span>
        <span>
            <img src="{{MEDIA_URL}}lfs/icons/resultset_previous.png" 
                 alt="{% trans 'Previous' %}"
                 title="{% trans 'Previous' %}" />
        </span>
    {% endif %}

    {{page.number}}  {% trans 'of' %} {{paginator.num_pages}}

    {% if page.has_next %}
        <a class="selectable-products-page-link"
           href="{% url lfs_manage_selectable_products_inline %}?page={{page.next_page_number}}">
            <img src="{{MEDIA_URL}}lfs/icons/resultset_next.png" 
                 alt="{% trans 'Next' %}"
                 title="{% trans 'Next' %}" />           
        </a>
        <a class="selectable-products-page-link"
           href="{% url lfs_manage_selectable_products_inline %}?page={{paginator.num_pages}}">
            <img src="{{MEDIA_URL}}lfs/icons/resultset_last.png" 
                 alt="{% trans 'Last' %}"
                 title="{% trans 'Last' %}" />
        </a>
    {% else %}
        <img src="{{MEDIA_URL}}lfs/icons/resultset_next.png" 
             alt="{% trans 'Next' %}"
             title="{% trans 'Next' %}" />
        <img src="{{MEDIA_URL}}lfs/icons/resultset_last.png" 
             alt="{% trans 'Last' %}"
             title="{% trans 'Last' %}" />                       
    {% endif %}
</div>

{% for product in page.object_list %}
    <div style="padding-bottom:2px">
        <a class="selectable {% ifequal current_product product.id %}selected{% endifequal %}"
           id="selectable-product-id_{{product.id}}"
           href="{% url lfs.manage.views.manage_product product.id %}">
            {{product.name}}
        </a>

        {% for variant in product.variants.all %}
            <div>
                <a class="selectable variant {% ifequal current_product variant.id %}selected{% endifequal %}"
                   id="selectable-product-id_{{variant.id}}"
                   href="{% url lfs.manage.views.manage_product variant.id %}">
                    {{variant.get_name}}
                </a>
            </div>
        {% endfor %}

    </div>
{% endfor %}
