{% load i18n %}
<ul class="breadcrumbs">
    <li>{% trans 'You are here:' %}</li>
    <li>
        <a href="{% url lfs_shop_view %}">
            {% trans 'Home' %}</a>
        <img src="{{MEDIA_URL}}lfs/icons/resultset_next.png" alt=">" />
    </li>
    {% for object in objects %}
        <li>
            <a href="{{object.get_absolute_url}}">
                {{object.name}}</a>                
            {% if not forloop.last %}<img src="{{MEDIA_URL}}lfs/icons/resultset_next.png" alt=">" />
            {% endif %}
        </li>        
    {% endfor %}
</ul>