{% extends "base.html" %}
{% load lfs_tags lfs_page_tags %}

{% block head %}
    {% if category.get_meta_keywords %}
        <meta name="keywords" content="{{category.get_meta_keywords}}" />
    {% endif %}
    {% if category.get_meta_description %}
        <meta name="description" content="{{category.get_meta_description}}" />
    {% endif %}
{% endblock %}

{% block left-slot %}
    {% categories_portlet category %}
{% endblock %}

{% block right-slot %}
    {% cart_portlet %}
    {% sorting_portlet %}
    {% pages_portlet %}    
{% endblock %}