{% load i18n %}
<div class="filtered-navigation-portlet portlet">

    <div class="portlet-header">
        {% trans 'Filters' %} <a href="{% url lfs_reset_all_product_filter category.slug %}">[x]</a>
    </div>

    {% for property_group in product_filters %}
        <div class="portlet-body">
            <div style="padding-bottom:4px">
                {{ property_group.name }}
                <a href="{% url lfs_reset_product_filter category.slug property_group.id %}">[x]</a>
            </div>
            {% for property in property_group.items %}
                <div>
                    {% if property.show_quantity %}
                        <a href='{% url lfs_set_product_filter category.slug property_group.id property.value %}'>
                            {{ property.name }} {{ property.unit }} ({{ property.quantity }})
                        </a>
                    {% else %}
                        <a href='{% url lfs_set_product_filter category.slug property_group.id property.value %}'>
                            {{ property.name }} {{ property.unit }} 
                        </a>                        
                    {% endif %}
                </div>        
            {% endfor %}
        </div>    
    {% endfor %}
    <div class="portlet-body">

        {# <div style="padding-bottom:4px"> #}
        {#     {% trans 'Price' %} #}
        {#     <a href="{% url lfs_reset_price_filter category.slug %}">[x]</a> #}
        {# </div> #}
        {#  #}
        {# <div style="padding-bottom:4px"> #}
        {#     {% for price_filter in price_filters %} #}
        {#         <div> #}
        {#             <a href="{% url lfs_set_price_filter category.slug %}?min={{ price_filter.min }}&max={{ price_filter.max }}"> #}
        {#                 {{price_filter.min}}-{{price_filter.max}}  #}
        {#                {% if price_filter.quantity %}({{price_filter.quantity}}){% endif %}</a> #}
        {#         </div> #}
        {#     {% endfor %} #}
        {# </div> #}
        
        {# <form action="{% url lfs_set_price_filter category.slug %}" #}
        {#       method="post"> #}
        {#  #}
        {#     <div> #}
        {#         <input type="text" #}
        {#                name="min" #}
        {#                value="{{set_price_filters.min}}" #}
        {#                size="10" /> #}
        {#     </div>        #}
        {#     <div style="padding-bottom:4px"> #}
        {#         <input type="text" #}
        {#                name="max"  #}
        {#                value="{{set_price_filters.max}}" #}
        {#                size="10" />                                           #}
        {#     </div>        #}
        {#     <div> #}
        {#         <input type="submit" #}
        {#                value="{% trans 'Go!' %}" /> #}
        {#     </div> #}
        {# </form> #}
    </div>
        
    <div class="portlet-footer">
    </div>        
</div>    
