{% extends "base.html" %}
{% load lfs_tags %}
{% load lfs_page_tags %}
{% load lfs_tagging_tags %}

{% block title %}
    {{product.name}}
{% endblock %}

{% block head %}
    {% if product.get_meta_keywords %}
        <meta name="keywords" content="{{product.get_meta_keywords}}" />
    {% endif %}
    {% if product.get_meta_description %}
        <meta name="description" content="{{product.get_meta_description}}" />
    {% endif %}
{% endblock %}

{% block left-slot-wrapper %}{% endblock %}

{% block right-slot %}
    {% cart_portlet %}
    {% sorting_portlet %}
    {% shipping_portlet %}
    {% related_products_portlet product.id %}
    {% pages_portlet %}    
{% endblock %}

{% block footer %}
    {% related_products_by_tags product.id %}    
{% endblock %}